<h1>app-component</h1>
<button mat-flat-button color="primary" (click)="logout()">logout</button>
<button mat-flat-button color="primary" (click)="openInactiveModal()">open modal</button>
<section>
    <p>last user action: {{convertUnixToDate(timeLastUserInteraction)}}</p>
</section>
<section *ngIf="idToken">
    <h2>id token</h2>
    <label>value</label>
    <pre>
        <code>{{idToken.idToken}}</code>
    </pre>
    <label>expiration</label>
    <p>{{convertUnixToDate(idToken.expiresAt * 1000)}}</p>
</section>
<section *ngIf="accessToken !== undefined">
    <h2>access token</h2>
    <label>value</label>
    <pre>
        <code>{{accessToken.accessToken}}</code>
    </pre>
    <label>expiration</label>
    <p>{{convertUnixToDate(accessToken.expiresAt * 1000)}}</p>
</section>
<section *ngIf="refreshToken">
    <h2>refresh token</h2>
    <label>value</label>
    <pre>
        <code>{{refreshToken.refreshToken}}</code>
    </pre>
    <label>expiration</label>
    <p>{{convertUnixToDate(refreshToken.expiresAt * 1000)}}</p>
</section>
<section *ngIf="error !== undefined">
    <h2>error</h2>
    <label>name</label>
    <p>{{error.name}}</p>
    <label>cause</label>
    <p>{{error.cause}}</p>
    <label>message</label>
    <p>{{error.message}}</p>
    <label>stack</label>
    <p>{{error.stack}}</p>
</section>
<router-outlet></router-outlet>